$main-color: #d1e70d;
$text-color: #161616;
$ships: rgb(37, 33, 33);


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //background-color: $main-color;
    background-image: url("img/backgroundBattelshipMain.png");
    background-size:cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 1.5;
    color: #fdf9f9;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;

}

#start-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
}

#player-name {
    margin-bottom: 20px;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(79, 86, 150, 0.4);
    color: $text-color;
    &::placeholder {
        color: $text-color;
    }
    
}

#start-game {
    padding: 10px 30px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    &::placeholder {
        color: $text-color;
    }
    &:hover {
        background-color: rgba(79, 86, 150, 0.4);
        
    }
}
    

#warfieldContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
    width: 100%;
    height: 100%;
    
}

.fieldContainer {
    border: 5px solid $text-color;
    display: flex;
    width: 50%;
    height: 50%;
    margin-bottom: 100px;
}

#gridField{
    display: flex;;
}

#player-grid {
    margin: 50px;
}

#enemy-grid {
    margin: 50px;
}
.row {
    width: 40px;
    height: 40px;;
}

.cell {
    width: 40px;
    height: 40px;
    border: 1px solid $text-color;
    //background-color: rgba(12, 77, 175, 0.5);

}

#message-overlay {
    position: fixed;
    top: 0;
    left: 0;
    padding: 50px;
    width: 100%;
    height: 100%;
    color: $text-color;  
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #message-content {
    background-color: $text-color;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }

  #myImage {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 60%;
    height: auto;
    // object-fit: cover;
  }

  #captain-select {
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
}

#game-info {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

#player-name-display, #turn-counter-display {
    padding: 10px;
    height: 100px;
    width: 200px;
    color: $text-color;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

#use-captain-ability{
    padding: 10px;
    font-size: 30px;
    border-radius: 8px;
    cursor: pointer;
}
  