$main-color: #11318a;
$ships: rgb(37, 33, 33);


body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $main-color;
    // background-image: url("img/Firefly\ pool\ gefüllt\ blauen\ wasser\,\ sicht\ von\ oben\ 95866.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 1.5;
    color: #fdf9f9;
    margin: 0;
    padding: 0;
}

#start-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#player-name {
    margin-bottom: 20px;
    font-size: 30px;
    padding: 20px;
}

#start-game {
    padding: 10px 20px;
    font-size: 30px;
    border-radius: 8px;
    cursor: pointer;
}

#warfieldContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 400px;
    width: 800px;
    height: 800px
}

.fieldContainer {
    border: 1px solid black;
    display: flex;
    // flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    
}

#player-grid {
    margin: 20px;
}

#enemy-grid {
    margin: 20px;
}

.cell {
    width: 80px;
    height: 80px;
    border: 1px solid black;
    display: inline-block;
}